# Ignore rules for GIT (github.com, bitbucket.com, etc.)

/.dn/cache
/.dn/ide.lock
/.dn/tmp
/.dn/index.json
/.dn/backup
/.dn/bundles

/vendor
/src_generated
/src/JPHP-INF
/src/.debug
/build
/build.xml
/build.gradle
/settings.gradle

*.log
*.pid
*.tmp
*.sourcemap
.dn/backup.conf
.dn/bundles/develnext.bundle.game2d.Game2DBundle.conf
.dn/bundles/develnext.bundle.httpclient.HttpClientBundle.conf
.dn/bundles/develnext.bundle.sql.SqliteBundle.conf
.dn/bundles/ide.bundle.std.JPHPDesktopDebugBundle.conf
.dn/bundles/ide.bundle.std.UIDesktopBundle.conf
.dn/ide/editors/FormEditor/src/app/forms/build_structure.php.conf
.dn/ide/editors/FormEditor/src/app/forms/build_units.php.conf
.dn/ide/editors/FormEditor/src/app/forms/build_upgrades.php.conf
.dn/ide/editors/FormEditor/src/app/forms/MainForm.php.conf
.dn/ide/editors/FormEditor/src/app/forms/select_sector.php.conf
.dn/ide/editors/FormEditor/src/app/forms/viewGame.php.conf
.dn/ide/editors/ScriptModuleEditor/src/app/modules/MainModule.php.conf
.dn/ide/project/behaviours/BundleProjectBehaviour.conf
.dn/ide/project/behaviours/PhpProjectBehaviour.conf
.dn/library.conf
